.dakisvan.valokan-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}

.close {
    color: #e60023;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    right: 7px;
    top: 0;
}

.valokan-close:hover {
    color: #333;
}

.modalwrapper:before {
    content: "";
    display: none;
    background: rgba(0, 48, 230, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal-show:before {
    display: block;
}

.modal-show .modalform {
    transform: translate(0, 0);
    top: 20%;
}

.modalform {
    background: #fefefe;
    border: #232222 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 450px;
    height: 300px;
    box-shadow: 0 5px 10px rgba(25, 24, 24, 0.3);
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}

.modal-lines {
    padding: 20px;
}

.modal-lines input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.modal-header, .btn-create {
    padding: 10px 20px;
}

.modal-header {
    border-bottom: #eeeeee solid 1px;
}

.modal-header h2 {
    font-size: 20px;
}