.header{
    padding: 20px;
    background-color: #38362f;
}
.header a{
    margin-left: 20px;
    color: aliceblue;
    text-decoration: none;
}
.header a:nth-child(1){
    margin-left: 50px;
}
.header a:hover {
    border-bottom: 1px solid aqua;
    color: white;
    text-decoration: none;
}
h2 , h4{
    margin-left: 50px;
    color:#80dce0;
    font-weight: 900;
}
.visitors{
    margin: 30px;
}

.divTable{
    padding: 20px;
    margin-top: 40px;
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableCell:nth-child(1){
    width: 150px;
}
.divTableCell:nth-child(4){
    width: 150px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.header .active{
    color: aqua;
}